<!-- 


<table class="table table-dark table-striped">
    <thead>
        <tr>
            
            <th>Booking Id</th><th>Check In</th><th>Check Out</th> <th>Room type</th> <th>No of Guest</th> <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of (custBookings);"> -->
            <!-- <td>{{b}}</td> -->
            <!-- <td>{{b.hotelId}}</td> -->
            <!-- <td>{{b.bookingId}}</td>
            <td>{{b.checkIn}}</td>
            <td>{{b.checkOut}}</td>
            <td>{{b.roomType}}</td>
            <td>{{b.guest}}</td>
            <td>{{b.price}}</td>
            
            
             
            
        </tr>
        
    </tbody> -->
    
    
    
<!-- </table> -->
<!-- Verify that the customer object and bookings array are defined and not empty -->
<div *ngIf="customer && custBookings.length > 0">
    <h2>{{ customer.customerName }}'s Bookings</h2>
    <ul>
      <!-- Loop through the bookings and display the necessary information -->
      <li *ngFor="let booking of custBookings">
        <p>Room Type: {{ booking.roomType }}</p>
        <p>Hotel Name: {{ booking.hotels[0].hotelName }}</p>
        <p>Check-in Date: {{ booking.checkIn }}</p>
        <p>Check-out Date: {{ booking.checkOut }}</p>
      </li>
    </ul>
  </div>
  
  <!-- Display a message when there are no bookings -->
  <div *ngIf="!custBookings.length">
    <p>No bookings found for this customer.</p>
  </div>

