<div class="booking-image">
    <div class="slideshow-container">
      <div class="slide fade" style="background-image: url('../../assets/images/image1.jpg');"></div>
      <!-- Add more slides with different images -->
    </div>
  </div>
  
  <div class="login-overlay">
    <form (ngSubmit)="save()" class="was-validated login-form" #addf="ngForm">
      <fieldset>
        <legend>Register</legend>
  
        <label for="name">Name</label>
        <input name="name" class="form-control" [(ngModel)]="customer.customerName" required>
  
        <label for="mobile">Mobile</label>
        <input name="mobile" class="form-control" [(ngModel)]="customer.mobile" type="number" required>
  
        <label for="email">Email</label>
        <input class="form-control" name="email" [(ngModel)]="customer.email" type="email" required>
  
        <label for="password">Password</label>
        <input class="form-control" name="password" [(ngModel)]="customer.password" type="password" required>
  
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!addf.valid">Save</button>
        
      </fieldset>
      
    </form>
    
  </div>
  <p>
    <a [routerLink]="['/login-page']">Login</a>
  </p>
  
 
  