.nav{
    box-shadow: 0px 2px 10px 0px ;
    border-radius: 0px 0px 12px 12px;
    padding: 20px;

}
a{
    display: flex;
    justify-content: space-evenly;
    margin-left:40px ;
    font-style: none;
    color: black;
    transform: displa;
    text-decoration: none;
}



img{
width: 50%;

}