<h1>Fill your Card details </h1>

<form (ngSubmit)="displayMessage()">

    <table>

<tr>

    <td><label for="">Card No:</label></td>

    <td><input type="number" id="date" name="date" [(ngModel)]="cardNumber" required></td><br>

</tr>

 

<tr>

    <td><label for="phoneNumber">Phone Number:</label></td>

    <td><input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" pattern="[0-9]{10}" required></td><br>

</tr>

 

<tr>

    <td><label for="cvv">CVV:</label></td>

    <td><input type="password" id="cvv" name="cvv" [(ngModel)]="cvv" pattern="[0-9]{3}" maxlength="3" required></td><br>

</tr>    

 

<tr>

    <td><label for="expiryDate">Expiry Date:</label></td>

    <td><input type="month" id="expiryDate" name="expiryDate" [(ngModel)]="expiryDate" required></td><br>

</tr>

 

<tr>

    <td><button type="submit">Pay</button></td>

</tr>

    </table>

</form>

   

    <p *ngIf="errorMessage">{{ errorMessage }}</p><p *ngIf="successMessage">{{ successMessage }}</p>